<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag("Open source-amico.png", class: "w-100") %>
    </div>
    <div class="col-md-6 d-flex align-items-center flex-column justify-content-center">
      <h1 class="text-center display-3">Collaboration equates to success</h1>
      <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      <button type="button" class="btn btn-outline-success">Sign in</button>
    </div>
  </div>
</div>
