<h1 class="text-center display-1 my-4">Teilen</h1>

<div>
  <div class="row">
    <div class="col-md-6 d-flex align-items-center flex-column justify-content-center">
      <h1 class="text-center display-4 mb-4">Collaboration equals success</h1>
      <p class="text-center">Store all information, share what you know with your team, get the job done quick, succeed alongside your team.</p>
    </div>
    <div class="col-md-6">
      <%= image_tag("Collaboration-bro.png", class: "w-100") %>
    </div>
  </div>
</div>
