<h1><%= @procedure.title %> has been approved</h1>

<p>Hello, <%= @email %></p>

<p>Your newly created procedure with a title of <%= @procedure.title %> can now be viewed by your team members. Just keep sharing your knowledge to the team as it will help us reach our goals faster.<br/></p>

<p>Regards,</br></p>
<p><%= @admin.first_name %></p>
