<h1><%= @procedure.title %> is now available on procedures tab</h1>

<p>Good day,</p>

<p>A new procedure named <%= @procedure.title %> has been made by <%= @procedure.user.first_name %> can now be viewed.<br/></p>

<p>Regards,</br></p>
<p><%= @admin.first_name %></p>
