<% content_for :title do %>
  Edit <%= @procedure.title %>
<% end %>

<h1>Editing Procedure</h1>

<%= render 'form_edit', procedure: @procedure %>

<%= link_to 'Show', procedure_path(@procedure) %>
<%= link_to 'Back', procedures_path %>
